@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(231, 213, 247);
}

.login-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

img{
    width: 350px;
}

h1{
    color:rgb(57, 56, 56);
    margin-bottom: 15px;
    text-shadow: 2px 2px rgb(139, 191, 210);
}

h2{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgb(41, 40, 40);
}

input{
    border: 2px solid #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    outline: none;
    box-shadow: 3px 2px #4f4d4d;     
}

button{
    background-color: rgb(139, 191, 210);
    color:rgb(5, 5, 5);
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 3px #4f4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pokemonButton{
    width: 25px;
    margin-left: 5px;
}

.hxhButton{
    width: 25px;
}

.loginPokemon:disabled{ /*colocar um hover*/
    background-color: #bababa;
    color:#333;
    cursor: auto;
    cursor: not-allowed;

}

.loginHxh:disabled{
    background-color: #bababa;
    color:#333;
    cursor: auto;
    cursor: not-allowed;

}

.loginHxh:disabled:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}
.loginPokemon:disabled:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}

