@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(231, 213, 247);
}

.login-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

img{
    width: 350px;
}

h1{
    color:rgb(57, 56, 56);
    margin-bottom: 15px;
    text-shadow: 2px 2px rgb(139, 191, 210);
}

h2{
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
    color:rgb(41, 40, 40);
}

input{
    border: 2px solid #333;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    outline: none;
    box-shadow: 3px 2px #4f4d4d;     
}

button{
    background-color: rgb(186, 155, 253);
    color:rgb(5, 5, 5);
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 2px 3px #4f4d4d;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.pokemonButton{
    width: 25px;
    margin-left: 5px;
}

.hxhButton{
    width: 25px;
}

.loginHxh:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #4700a9;
}

.loginPokemon:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #4700a9;
}


.loginPokemon:disabled{ /*colocar um hover*/
    background-color: #bababa;
    color:#333;
    cursor: auto;
    cursor: not-allowed;
}

.loginHxh:disabled{
    background-color: #bababa;
    color:#333;
    cursor: auto;
    cursor: not-allowed;

}

.open-modal:disabled{
    background-color: #bababa;
    color:#333;
    cursor: auto;
    cursor: not-allowed;
}

.loginHxh:disabled:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}
.loginPokemon:disabled:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}
.open-modal:disabled:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}

.open-modal:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #4700a9;
}


dialog {
  /* Não defina display aqui */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;
  border-radius: 10px;
  padding: 2rem;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
  background-color: rgb(231, 211, 248);

  text-align: center; /* centraliza texto */
}

dialog > * {
  margin-bottom: 10px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}

dialog .close-modal {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80px;
}

dialog.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.players{
    display: flex;
    justify-content: row;
    gap: 35px;
    width: 250px;
    align-items: center;
    padding: 10px;
    font-size:0.85em;
}

.Player1:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #4700a9;
}

.Player2:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #4700a9;
}

.close-modal:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b92929;
}