@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
}

body {
  height: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
  height: 100vh; 
  margin-bottom: 20px;
}

header {
  font-family: 'Pokemon Hollow', sans-serif;
  width: 400px;
  background-color: #c0dfff;
  color: rgb(64, 64, 64);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  opacity: 0.9;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}

/*header{
    font-family: 'Pokemon Hollow', sans-serif;font-family: 'Pokemon Hollow', sans-serif;
    color:#000000;
>>>>>>> c248d7c5cc37925f5a71bd6fe143b9829d1ad640
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
=======
    flex-wrap: wrap;
    height: 150px;
    padding: 5px;
}*/

header h1{
    text-align: center;
    margin: 0;
}

.logo{
    width: 150px;
    height: 50px;
}

.placar{
    margin-top: 30px;
    font-family: "Press Start 2P", system-ui;
    display: flex;
    align-items: flex-start;
    background-color: #ffb006;
    padding: 15px;
    border-radius: 8px;
    flex-direction: column;
    color: #ffffff;
    text-shadow: #000000 1px 1px;
    width: 300px;
    height: auto;
    flex-direction: column;
    box-shadow: #000 2px 2px;
    gap: 10px;
}

body{
    background-image: url('../../assets/wallpaperPokemon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#play-button {
    padding: 10px;
    font-size: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #f8e02d;
    color: #000;
    border: 3px solid #0b004f;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Press Start 2P", system-ui;
    height: auto;
    /* Centralização absoluta */
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px #000;
}

.buttonReturn{
   font-family: "Press Start 2P", system-ui;
   background-color: #ff860c;
   color: #ffffff;
   padding: 8px;
   border: none;
   border-radius: 10px;
   position: absolute;
   top: 96%;
   right: 94%;
   cursor: pointer;
   box-shadow: #000000 3px 2px;
}

.buttonReturn:hover{
    transform: translateY(3px);
    box-shadow: 2px 3px #b35e03;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.card{
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 5px;
    position: relative;
    transition: all 600ms ease;
    transform-style: preserve-3d;
    margin-top: 10px;
    max-width: 200px;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    transition: all 600ms ease;
}

.front{
    transform: rotateY(180deg);
    border: 4px solid #0b004f;
}

.back{      
    backface-visibility: hidden;
    background-image: url('../../assets/pokemoncard.png');
}

.reveal-card{
    transform: rotateY(180deg);
}

.disabled-card {
    filter: saturate(0);
    opacity: 0.9;
}

.player{
    font-family: "Press Start 2P", system-ui;
    margin-top: 30px;
    background-color: #ff860c;
    color: #fff;
    padding: 15px;
    width: auto;
    border-radius: 5px;
    text-shadow: 2px 2px #000;
    word-break: break-word;
    max-width: 84%;
    box-shadow: #000 2px 2px;
}

@media screen and (max-width: 768px) {

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    gap: 4px;
  }
  .card {
    max-width: 90px;
    margin-top: 3px;
    margin-left: 5px;
  }

  .container {
    flex-direction: column; 
  }

  header {
    width: 100%;            
    height: 130px;           
    flex-direction: row;
    align-items: center;
    padding: 5px;          
    position: fixed;        
    top: 0;
    left: 0;
    z-index: 1000;
  }

  header h1 {
    font-size: 0px;
  }

  body {
    padding-top: 120px;
  }

  .cabecalho {
    margin-bottom: 10px;
  }

  .logo {
    display: none;
  }

  .placar {
    width: auto;
    padding: 8px;
    font-size: 10px;
  }

  /* Botão de jogar menor e centralizado */
  #play-button {
    font-size: 16px;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .buttonReturn {
    padding: 6px;
    font-size: 10px;
    top: auto;
    bottom: 10px;
    left: 10px;
    right: auto;
  }
  /* Nome do jogador menor */
  .player {
    font-size: 10px;
    padding: 8px;
    margin-top: 10px;
  }
  .placar-solo{
    width: 50%;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
  }

  #pontuacao {
    font-size: 0px;
  }

  .placar {
    font-size: 10px;
    margin-bottom: 30px;
    width: 180px;
    margin-right: 30px;
  }

  .placar #player1-name,
  .placar #player2-name {
    font-size: 10px;
  }

  body header .turn-info:not(:empty) {
    width: 220px;
    font-size: 14px;
    padding: 10px;
    background-color: #ff860c;
    color: #000;
    border-radius: 5px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
  }  
}

/* Celular pequeno */
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr)); /* cartas ainda menores */
    gap: 4px;
  }

  .card {
    aspect-ratio: 3/4;
  }
}

.placar-solo{
  width: 180px;
}

.card.small {
  width: 200px;
  aspect-ratio: 3 / 4;
}

.card.medium {
  width: 150px;
  aspect-ratio: 3 / 4;
}

.grid.easy {
  grid-template-columns: repeat(4, 1fr); 
  max-width: 300px; 
  display: grid;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
}

.grid.medium {
  grid-template-columns: repeat(4,6fr); 
  max-width: 250px; 
  display: grid;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.endgame-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.endgame-modal .modal-content {
    background: #fff;
    padding: 32px 24px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 16px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column; 
    gap: 16px;
}

#close-modal {
    margin-top: 16px;
    padding: 10px;
    font-size: 16px;
    background-color: #ff860c;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 4px 4px rgba(255, 187, 0, 0.2);
}
.turn-info:not(:empty) {
    font-family: "Press Start 2P", system-ui;
    color: #000;
    font-size: 20px;
    margin-top: 15px;
    text-shadow: 1px 1px #fff;
    margin-top: 40px;
    padding: 15px;
    background-color: #ff860c;
    border-radius: 10px;
    box-shadow: 2px 2px #000000;
}

#endGame {
    font-family: "Press Start 2P", system-ui;
    color: #000;
    font-size: 22px;
    margin-bottom: 16px;
    text-shadow: 0.4px 0.4px #ff860c;
}

#player1-name, #player2-name {
    font-family: "Press Start 2P", system-ui;
    color: #000;
    font-size: 16px;
    margin-top: 15px;
    text-shadow: 1px 1px #fff;
}

.espacoPontos{
  margin-top: 5px;
}

@media screen and (min-width: 750px) and (max-width: 1200px) {

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 4px;
  }
  .card {
    max-width: 100px;
    margin-top: 3px;
  }
  .grid.easy {
    grid-template-columns: repeat(4,1fr); 
    max-width: 100px; 
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .grid.medium {
    grid-template-columns: repeat(8,2fr); 
    max-width: 600px; 
    display: grid;
    width: 100%;
    margin: 0 auto;
  }
  .container {
    flex-direction: column; 
    height: 600px;
  }

  header {
    width: 100%;            
    height: 140px;           
    flex-direction: row;
    align-items: center;
    padding: 5px;          
    position: fixed;        
    top: 0;
    left: 0;
    z-index: 1000;
  }

  header h1 {
    font-size: 0px;
  }

  body {
    padding-top: 300px;
  }

  .cabecalho {
    margin-bottom: 10px;
  }

  .logo {
    display: none;
  }

  .placar {
    width: auto;
    padding: 8px;
    font-size: 10px;
  }

  /* Botão de jogar menor e centralizado */
  #play-button {
    font-size: 16px;
    padding: 10px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header #buttonReturn {
    padding: 6px;
    font-size: 10px;
    top: auto;
    bottom: 10px;
    left: 10px;
    right: auto;
    margin-left: 200px;
  }
  /* Nome do jogador menor */
  .player {
    font-size: 10px;
    padding: 8px;
    margin-top: 10px;
  }
  .placar-solo{
    width: 50%;
    padding: 5px;
    font-size: 12px;
    margin-top: 10px;
  }

  #pontuacao {
    font-size: 0px;
  }

  .placar {
    font-size: 10px;
    margin-bottom: 30px;
    width: 180px;
    margin-right: 30px;
  }

  .placar #player1-name,
  .placar #player2-name {
    font-size: 10px;
  }

  body header .turn-info:not(:empty) {
    width: 220px;
    font-size: 14px;
    padding: 10px;
    background-color: #ff860c;
    color: #000;
    border-radius: 5px;
    text-align: center;
    margin-right: 15px;
    margin-bottom: 30px;
  }  
}

